.selection-panel-wrapper-container {
  width: 100%;
  overflow-x: hidden;

  .selection-panel-wrapper {
    position: relative;
    width: fit-content;

    button {
      outline: none;
    }

    .panel-header {
      width: 940px;

      .panel-header-actions {
        padding-left: 12px;

        a {
          color: #222222;
          &:hover {
            color: #3f51b5;
          }
        }
      }

      .panel-legend {

        .panel-legend-thumbnail {
          width: 14px;
          height: 14px;
          border: 1px solid #222;
          cursor: help;

          &.included {
            //background-color: #2b78e4;
            background-color: #3f51b5;
          }

          &.excluded {
            background-color: #fff;
          }
        }
      }
    }

    .schedule-panel-grid-container {
      max-width: max-content;
      background-color: #fff;

      .schedule-selection-grid {
        display: grid;
        width: min-content;
        grid-template-columns: repeat(25, 1fr);

        button {
          position: relative;
          border: 1px solid #dee2e6;
          width: 4ch;
          height: 4ch;
          background-color: transparent;
          color: var(--blue-grey-600);

          &:first-of-type {
            width: 16ch;
          }
        }
      }

      .grid-hours button {
        border: 1px solid transparent;

        &:first-of-type {
          cursor: default;
        }
      }

      .hour-toggle-button {
        text-align: center;
      }

      .day-toggle-button {
        text-align: start;
      }

      .day-toggle-button,
      .hour-toggle-button {
        transition: all 0.2s ease-in-out;
        letter-spacing: 0.1em;
        font-variant: small-caps;
        white-space: nowrap;
        border: 1px solid transparent !important;

        &:hover {
          background-color: #eeeeee !important;
          cursor: pointer;
        }

        &:focus {
          outline: none;
          cursor: pointer;
        }
      }


      .schedule-selection-button {
        background-color: #fff !important;
        height: 0;
        transition: all 0.2s ease-in-out;

        &.included {
          //background-color: #2b78e4 !important;
          background-color: #3f51b5 !important;
          height: 100%;

          &.drag-origin, &.shift-origin {
            background-color: rgb(43 120 228 / 60%) !important;
          }

          &.drag-selection, &.shift-selection {
            background-color: rgba(43, 120, 228, 0.50) !important;
          }
        }

        &:not(.included) {
          &.drag-selection, &.shift-selection {
            background-color: #e8f0fd !important;
          }

          &.drag-origin, &.shift-origin {
            border-color: rgba(103, 129, 179, 0.25) !important;
            background-color: rgba(43, 120, 228, 0.25) !important;
          }
        }

        &.drag-selection, &.shift-selection {
          cursor: grabbing;
          cursor: -moz-grabbing;
          cursor: -webkit-grabbing;
        }


      }
    }


    .panel-footer {
      width: 916px;

      .panel-footer-actions {
        display: flex;
        justify-content: flex-end;

        .btn-sm {
          font-size: 0.875rem;
          text-transform: none;
          white-space: nowrap;

          &.cancel-btn {
            width: 90px;
            max-width: 90px;
            min-width: 90px;
            color: #3f51b5 !important;
            background-color: #ffffff;
          }

          &.save-btn {
            color: #222222 !important;
            background-color: #e0e0e0 !important;

            &[disabled] {
              &:hover {
                box-shadow: unset;
                cursor: not-allowed;
              }
            }
          }

          &:hover, &:focus {
            box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 10%), 0 1px 5px 0 rgb(0 0 0 / 12%);
          }
        }
      }
    }

    .no-user-select {
      user-select: none !important;
    }
  }
}
